@page "/countries"
<PageTitle>Tienda</PageTitle>
@inject IRepository Repository

<h3>Países</h3>
<table class = "table table-striped">
    <thead>
        <tr>
            <th>País</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Colombia</td>
            <td></td>
        </tr>
        <tr>
            <td>Perú</td>
            <td></td>
        </tr>
        <tr>
            <td>Ecuador</td>
            <td></td>
        </tr>
        <tr>
            <td>Brasil</td>
            <td></td>
        </tr>
    </tbody>
</table>

@code {

}
